 body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f0f0f0;
    perspective: 1000px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    border-bottom: 1px solid #444;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: rotateX(0deg);
    transform-style: preserve-3d;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    perspective: 1000px;
}

#create-wallet-form {
    background-color: #fff;
    padding: 2em;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 400px;
    transform: rotateX(0deg);
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

#create-wallet-form:hover {
    transform: rotateX(10deg);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#wallet-container {
    background-color: #fff;
    padding: 2em;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 400px;
    transform: rotateX(0deg);
    transform-style: preserve-3d;
    transition: transform 00.5s;
}

#wallet-container:hover {
    transform: rotateX(10deg);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#transactions-container {
    background-color: #fff;
    padding: 2em;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 400px;
    transform: rotateX(0deg);
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

#transactions-container:hover {
    transform: rotateX(10deg);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s;
}

button:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
